{% extends "base.html" %}
{% load static %}
    {% block css_files %}
        <link rel="stylesheet" href="{% static "challenges/challenges.css"%}">
        <link rel="stylesheet" href="{% static "challenges/includes/header.css"%}">
    {% endblock %}

    {% block page_title %}
        {{ month | title }} challenges
    {% endblock  %}
  

    {% block content %}
        {% include "challenges/includes/header.html" with location=month %}             

        {% if ch == "none"  %}
            <h2 class="fallback"> there is no challenge </h2>
        {% else %}
            <h2 >{{ ch }}</h2>        
        {% endif %}    

                   
    {% endblock  %}