{% extends "base.html" %}
{% load static %}
    {% block css_files %}
        <link rel="stylesheet" href="{% static "challenges/challenges.css"%}">
    {% endblock %}

    {% block page_title %}
    All challenges    
    {% endblock  %}       
    {% block content %}        
        <ul>
            {% for ch in challenges  %}            
                <li><a href="{% url "month-challenge" ch.month %}">{{ ch.month }}</a></li>
            {% endfor %}        
        </ul>
    {% endblock  %}